<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style.css') }}"
    />
    <title>CheckerBoard</title>
  </head>
  <body>
    <h1 class="title">***Checkerboard***</h1>
    <div id="content">
      {% block content%}
      <div class="container" style="width: {{50*8}}px">
        {% for i in range(8): %} {% for j in range(8): %} {% if (j+i)%2 != 0 %}
        <div class="box" style="background-color: yellow"></div>
        {% else %}
        <div class="box"></div>
        {% endif %} {% endfor %} {% endfor %}
      </div>
      {%endblock%}
    </div>
  </body>
</html>
